body {
    background-image: url(sunrise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
}

#appheader {
    color: white;
}

body.fade-out {
    opacity: 0; 
}

header {
    background-color: black;
}

nav {
    background-color: blue;
    text-align: center;
}

nav li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: white;
}

nav li:hover a {
    color: black;
    margin: 20px
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cityMap {
    height: 180px;
}

#searchCity {
    background-color: powderblue;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

#searchCity h2 {
    color: black;
}

#citySearch {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#citySearch:focus {
    border-color: black;
}

.button-89 {
  --b: 3px; 
  --s: .45em;
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

#weatherInfo {
    background-color: powderblue;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    display: none;
}

#weatherInfo h2 {
    color: black;
}

